<?xml version="1.0"?>
<configuration>
	<!-- 
      Note: As an alternative to hand editing this file you can use the 
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in 
      machine.config.comments usually located in 
      \Windows\Microsoft.Net\Framework\vx.x\Config 
  -->
	<configSections>
		<section name="sourceCode.services" type="SourceCode.Services.Configuration.ServicesConfigurationSection, SourceCode.Services.Runtime"/>
	</configSections>
	<appSettings>
		<add key="CRMServiceUrl" value="http://crm.denallix.com/Denallix/XRMServices/2011/Organization.svc"/>
		<add key="CRMUrl" value="http://crm.denallix.com/Denallix/XRMServices/2011/Organization.svc"/>
		<add key="CRMOrganisation" value="Denallix"/>
		<!--<add key="CRMUser"  value="administrator"/>
		<add key="CRMPwd" value="K2pass!"/>
		<add key=" CRMDomain" value="denallix"/>-->
		<add key="K2Server" value="localhost"/>
	</appSettings>
	<connectionStrings>
		<add name="WorkflowServer" connectionString="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=dlx;Port=5252"/>
		<add name="HostServer" connectionString="Integrated=True;IsPrimaryLogin=True;Authenticate=True;EncryptedPassword=False;Host=dlx;Port=5555"/>
	</connectionStrings>
	<sourceCode.services>
		<!--<basicAuthentication requireSSL="True" enabled="True" cachingEnabled="True" cachingDuration="15" defaultSecurityLabel="K2" />-->
		<basicAuthentication requireSSL="False" enabled="False" cachingEnabled="True" cachingDuration="15" defaultSecurityLabel="K2"/>
		<inclusions userExtendedProperties="False" hiddenFields="False" maxWorklistItems="0" processDataFields="False" processXmlFields="False" activityDataFields="False" activityXmlFields="False">
		</inclusions>
	</sourceCode.services>
	<system.serviceModel>
		<extensions>
			<behaviorExtensions>
				<add name="jsonOrXmlWebHttp" type="SourceCode.Services.Support.JsonOrXmlWebHttpBehaviorElement, SourceCode.Services.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=16a2c5aaaa1b130d"/>
			</behaviorExtensions>
		</extensions>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<services>
			<!--<service behaviorConfiguration="K2DemoRESTBehavior" name="K2DemoREST">
			<endpoint address="" binding="webHttpBinding" contract="IK2DemoREST">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>-->
			<service behaviorConfiguration="SourceCode.Services.RestBehavior" name="K2CRMService">
				<!-- HTTP endpoints for REST.svc - uses RestBinding+HTTP binding -->
				<!-- Ensure the RestBinding+HTTP binding is enabled when enabling these endpoints -->
				<endpoint address="K2CRM" behaviorConfiguration="SourceCode.Services.RestBehavior" binding="webHttpBinding" bindingConfiguration="SourceCode.Services.RestBinding+HTTP" contract="IK2CRMService"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://dlx/K2.Demo.CRM.REST/K2CRMService.svc"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<binding name="SourceCode.Services.RestBinding+HTTP">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="None"/>
					</security>
					<!--<security mode="None">
            <transport clientCredentialType="None" />
          </security>-->
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
   <endpointBehaviors>
    <behavior name="SourceCode.Services.RestBehavior">
     <jsonOrXmlWebHttp />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="SourceCode.Services.RestBehavior">
     <serviceMetadata httpGetEnabled="false" />
     <serviceDebug includeExceptionDetailInFaults="true" />
    </behavior>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
	</system.serviceModel>
	<system.web>
		<!-- 
        Set compilation debug="true" to insert debugging 
        symbols into the compiled page. Because this 
        affects performance, set this value to true only 
        during development.
    -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="SourceCode.Workflow.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=16A2C5AAAA1B130D"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
		<authentication mode="Windows"/>
		<!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
	<system.webServer>
		<security>
			<authentication>
				<windowsAuthentication enabled="true"/>
				<anonymousAuthentication enabled="true"/>
			</authentication>
		</security>
	</system.webServer>
	<!--<system.serviceModel>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="Service">
				<endpoint address="" binding="wsHttpBinding" contract="IService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="K2DemoRESTBehavior" name="K2DemoREST">
				<endpoint address="" binding="wsHttpBinding" contract="IK2DemoREST">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="K2DemoRESTBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>-->
</configuration>
