<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K2.Demo.CRM.Functions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K2.Demo.CRM.Functions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <K2.Demo.CRM.Functions.Properties.Settings>
            <setting name="CRMUrl" serializeAs="String">
                <value>http://crm.denallix.com/Denallix/XRMServices/2011/Organization.svc</value>
            </setting>
        </K2.Demo.CRM.Functions.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <K2.Demo.CRM.Functions.Properties.Settings>
            <setting name="CRMUser" serializeAs="String">
                <value>administrator</value>
            </setting>
            <setting name="CRMPwd" serializeAs="String">
                <value>K2pass!</value>
            </setting>
            <setting name="CRMDomain" serializeAs="String">
                <value>denallix</value>
            </setting>
            <setting name="K2Server" serializeAs="String">
                <value>dlx</value>
            </setting>
        </K2.Demo.CRM.Functions.Properties.Settings>
    </userSettings>
</configuration>