<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Toolbox Sample -->
  <toolboxCategories>
    <toolboxCategory text="Event Wizards" default="Default Server Event Wizard"
     name="Event">
      <toolboxItems>
        <!--Begin Sample-->
        <add name="WizardCRMClient Event Wizard" />
        <!-- End Sample -->
      </toolboxItems>
    </toolboxCategory>
  </toolboxCategories>

  <!-- Wizard Sample -->
  <wizards>
    <!-- Begin Wizard Sample -->
    <wizard showInToolbox="true" text="CRM Client"
     description="CRM Client" makeAvailableOffline="false"
     minVersionRequired="1.0.0.0" type="WizardCRMClient.CRMClientDefaultWizard"
     assembly="WizardCRMClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dc7da7b8c944e2f2"
     name="WizardCRMClient Event Wizard">
      <propertyWizards>
        <add name="WizardCRMClient Property Wizard" />
      </propertyWizards>
    </wizard>
    <!--End Sample-->
  </wizards>

  <!-- Property Wizard Sample -->
  <propertyWizards>
    <!-- Begin Property Wizard Sample -->
    <propertyWizard text="CRM Client" description="CRM Client"
      makeAvailableOffline="false" minVersionRequired="1.0.0.0" 
      type="WizardCRMClient.CRMClientPropertyWizard"
      assembly="WizardCRMClient, Version=1.0.0.0, Culture=neutral, PublicKeyToken=dc7da7b8c944e2f2"
      name="WizardCRMClient Property Wizard" />
    <!--Uncomment the section below to add settings to your Wizard-->
    <!--<settings>
      <add key="" value="" />
      <add key="" value="" />
    </settings>-->
    <!-- End Sample -->
  </propertyWizards>
 
</configuration>